<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="Constr" connectionString="server=.\SLOE;uid=sa;pwd=123456;database=OfficeAutomation" providerName="System.Data.SqlClient" />-->
    <add name="Constr" connectionString="port=3306;server=localhost;uid=root;pwd=mgdowoqu741;database=OfficeAutomation" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>