@dotSize: 6px;
@offset: -@dotSize / 2;
.HelperBlock {
  position: absolute;
  .dot {
    position: absolute;
    border: 1px solid rgb(6, 123, 239);
    box-sizing: border-box;
    width: @dotSize;
    height: @dotSize;
    background-color: white;
  }
  .top {
    top: @offset;
  }
  .bottom {
    bottom: @offset;
  }
  .left {
    left: @offset;
  }
  .right {
    right: @offset;
  }
  .seResize {
    cursor: se-resize;
  }
  .neResize {
    cursor: ne-resize;
  }
}
